.bs-example {
  margin: 20px;
}

h1{
  margin-top: 4%;
}

#start{
  margin-top: 100%;
  margin-left: 55%;
}
#discription{
  margin-top: 6%;
  margin-left: 5%;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}